*.b#1
*.b#2
*.s#1
*.s#2
Flex_TMP117_2025-09-04.zip
Adafruit_TMP117.b\#3
Adafruit_TMP117.b\#4
Adafruit_TMP117.b\#5
Adafruit_TMP117.b\#6
Adafruit_TMP117.b\#7
Adafruit_TMP117.b\#8
Adafruit_TMP117.b\#9
Adafruit_TMP117.s\#3
Adafruit_TMP117.s\#4
gerbers/CAMOutputs/JLCSMT_bottom_CPL1.xlsx
gerbers/CAMOutputs/JLCSMT_Sample_CPL1.xlsx
gerbers/CAMOutputs/Sample-BOM_JLCSMT.xlsx
/gerbers
